* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

article {
  background: white;
  background: white url('../img/top-image.png') no-repeat top center; /* fallback */
  background-image:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(247, 247, 247, 0) 50%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url('../img/top-image.png'),
    url('../img/bottom-image.png');
  background-repeat:
    no-repeat;
  background-position:
    center,
    top,
    bottom;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;

}

.logo {
  background: url('../img/logo.png') no-repeat center;
  background-size: contain;
  /* filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5)); */
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.letter-content {
  padding: 250px 20mm 50px 20mm;
  line-height: 1.4;
  font-size: 11pt;
  column-count: 2;
  column-gap: 20px;
  text-align: justify;
}

fieldset {
  width: 80%;
  margin: auto;
  margin-top: -30px;
  border: none;
}